---
import LogoButton from './LogoButton.astro';

// Importamos la traducción de los idiomas
import { getI18n } from '@/i18n/';

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });

// Idioma
const currentLang = Astro.currentLocale || '';

// Imágenes e iconos - Lucha
import luchaImg from '../../../public/categorias/img/juegos-lucha.webp';
import icoMando from '../../../public/categorias/ico/ico-mando.png';
import icoArcade from '../../../public/categorias/ico/ico-arcada.png';
import ryuImg from '../../../public/categorias/ico/ryu.png';
import fantasmaIco from '../../../public/categorias/ico/fantasma.png';

// Imágenes e iconos - Mobas
import mobaImg from '../../../public/categorias/img/mobas-img.webp';
import icoMoba from '../../../public/categorias/ico/lol-ico-1.png';
import icoMoba1 from '../../../public/categorias/ico/moba-2.png';
import icoMoba2 from '../../../public/categorias/ico/moba-1.png';

// Imágenes e iconos - Fútbol
import futbolImg from '../../../public/categorias/img/futbol-img.webp';
import futbolImgMini from '../../../public/categorias/ico/futbol-img-mini.png';
import icoFutbol1 from '../../../public/categorias/ico/ico-futbol-2.png';
import icoFutbol2 from '../../../public/categorias/ico/ico-futbol-1.png';

// Imágenes Especiales / Extras
import cosplayImg from '../../../public/categorias/img/cosplay-img-.webp';
import cosplayImgMini from '../../../public/categorias/ico/cosplay-img-mini.png';
import icoCosplay1 from '../../../public/categorias/ico/cosplay-ico-1.png';
import icoCosplay2 from '../../../public/categorias/ico/cosplayer-ico-2.png';

// Imágenes Competitivos Generales
import competitivosImg from '../../../public/categorias/img/team-gamers-img.webp';
import competitivosImgMini from '../../../public/categorias/ico/streamer-img-mini.png';
import icoCompetitivos1 from '../../../public/categorias/ico/ico-team.png';
import icoCompetitivos2 from '../../../public/categorias/ico/streamer-ico.png';

// Imágenes - Divertidas / Humorísticas
import divertidasImg from '../../../public/categorias/img/juegos-divertidos-img .webp';
import divertidasImgMini from '../../../public/categorias/ico/humor-img-mini-removebg-preview.png';
import icoDivertidas1 from '../../../public/categorias/ico/humor-ico1.png';
import icoDivertidas2 from '../../../public/categorias/ico/humor-ico2.png';

// Imágenes Visuales / Ambientación
import visualesImg from '../../../public/categorias/img/stick-arcade-img.webp';
import visualesImgMini from '../../../public/categorias/ico/auricular-mini.png';
import icoVisuales1 from '../../../public/categorias/ico/asesorio-ico-1.png';
import icoVisuales2 from '../../../public/categorias/ico/acesorio-ico-2.png';

// Imágenes Temáticos / Dinámicos
import tematicosImg from '../../../public/categorias/img/dance-img.webp';
import tematicosImgMini from '../../../public/categorias/ico/dance-img-mini.png';
import icoTematicos1 from '../../../public/categorias/ico/dance-ico-1.png';
import icoTematicos2 from '../../../public/categorias/ico/musica-ico-2.png';
---

<div class="text-center text-4xl lg:text-6xl text-[#ff0] py-10 lg:py-20">
  <strong> {i18n.CATEGORIES.CARD.TITLE} </strong>
</div>

<section
  class="text-white h-full pb-24 pt-8 grid place-content-center
  animate-fade-up animate-once animate-duration-1000 animate-delay-100 animate-ease-linear"
>
  <!-- Card 1 - Lucha -->

  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-8 lg:gap-x-14"
  >
    <div class="w-[327px] bg-blue-950 rounded-[15px] p-6">
      <!-- contenedor fantasma -->
      <div class="relative mb-6 group">
        <img src={luchaImg.src} alt="juegos de lucha" class="rounded-lg" />

        <div
          class="bg-[#00ffff]/50 absolute top-0 w-full h-full place-content-center rounded-lg hidden group-hover:grid cursor-pointer"
        >
          <img src={fantasmaIco.src} alt="versus-ico" class="size-10" />
        </div>
      </div>
      <!-- fin contenedor fantasma -->

      <h2
        class="font-semibold text-[1.22em] mb-3 hover:text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]"
      >
        {i18n.CATEGORIES.CARD.CARD_1.TITLE}
      </h2>

      <p class="text-[#add8e6] mb-4 text-base">
        {i18n.CATEGORIES.CARD.CARD_1.DESCRIPTION}
      </p>

      <div class="flex place-content-between mb-4">
        <div class="flex gap-1.5 items-center">
          <img src={icoMando.src} alt="ico-mando" class="size-5" />
          <p class="text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]">
            {i18n.CATEGORIES.CARD.CARD_1.SUB_TITLE_1}
          </p>
        </div>

        <div class="flex gap-1.5 items-center">
          <img src={icoArcade.src} alt="ico-arcade" class="size-5" />
          <p class="text-[#add8e6]">
            {i18n.CATEGORIES.CARD.CARD_1.SUB_TITLE_2}
          </p>
        </div>
      </div>

      <hr class="text-[#1e3a8a] mb-4" />

      <div class="flex items-center gap-4">
        <img
          src={ryuImg.src}
          alt="ryu"
          class="rounded-full w-[33px] h-[33px] border border-white"
        />

        <p class="text-[#add8e6] flex gap-2">
          {i18n.CATEGORIES.CARD.MORE_INFO_ALL}
          <a
            href="#"
            class="text-white cursor-pointer hover:text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]"
          >
            <LogoButton />
          </a>
        </p>
      </div>
    </div>

    <!-- Card 2 - Mobas -->

    <div class="w-[327px] bg-blue-950 rounded-[15px] p-6">
      <!-- contenedor fantasma -->
      <div class="relative mb-6 group">
        <img src={mobaImg.src} alt="juegos de lucha" class="rounded-lg" />

        <div
          class="bg-[#00ffff]/50 absolute top-0 w-full h-full place-content-center rounded-lg hidden group-hover:grid cursor-pointer"
        >
          <img src={fantasmaIco.src} alt="versus-ico" class="size-10" />
        </div>
      </div>
      <!-- fin contenedor fantasma -->

      <h2
        class="font-semibold text-[1.22em] mb-3 hover:text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]"
      >
        {i18n.CATEGORIES.CARD.CARD_2.TITLE}
      </h2>

      <p class="text-[#add8e6] mb-4 text-base">
        {i18n.CATEGORIES.CARD.CARD_2.DESCRIPTION}
      </p>

      <div class="flex place-content-between mb-4">
        <div class="flex gap-1.5 items-center">
          <img src={icoMoba1.src} alt="ico-mobas" class="size-5" />
          <p class="text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]">
            {i18n.CATEGORIES.CARD.CARD_2.SUB_TITLE_1}
          </p>
        </div>

        <div class="flex gap-1.5 items-center">
          <img src={icoMoba2.src} alt="ico-mobas" class="size-6" />
          <p class="text-[#add8e6]">
            {i18n.CATEGORIES.CARD.CARD_2.SUB_TITLE_2}
          </p>
        </div>
      </div>

      <hr class="text-[#1e3a8a] mb-4" />

      <div class="flex items-center gap-4">
        <img
          src={icoMoba.src}
          alt="ryu"
          class="rounded-full w-[33px] h-[33px] border border-white"
        />

        <p class="text-[#add8e6] flex gap-2">
          {i18n.CATEGORIES.CARD.MORE_INFO_ALL}

          <a
            href="#"
            class="text-white cursor-pointer hover:text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]"
          >
            <LogoButton />
          </a>
        </p>
      </div>
    </div>

    <!-- Card 3 - Futbol -->

    <div class="w-[327px] bg-blue-950 rounded-[15px] p-6">
      <!-- contenedor fantasma -->
      <div class="relative mb-6 group">
        <img src={futbolImg.src} alt="juegos de lucha" class="rounded-lg" />

        <div
          class="bg-[#00ffff]/50 absolute top-0 w-full h-full place-content-center rounded-lg hidden group-hover:grid cursor-pointer"
        >
          <img src={fantasmaIco.src} alt="versus-ico" class="size-10" />
        </div>
      </div>
      <!-- fin contenedor fantasma -->

      <h2
        class="font-semibold text-[1.22em] mb-3 hover:text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]"
      >
        {i18n.CATEGORIES.CARD.CARD_3.TITLE}
      </h2>

      <p class="text-[#add8e6] mb-4 text-base">
        {i18n.CATEGORIES.CARD.CARD_3.DESCRIPTION}
      </p>

      <div class="flex place-content-between mb-4">
        <div class="flex gap-1.5 items-center">
          <img src={icoFutbol1.src} alt="ico-futbol" class="size-5" />
          <p class="text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]">
            {i18n.CATEGORIES.CARD.CARD_3.SUB_TITLE_1}
          </p>
        </div>

        <div class="flex gap-1.5 items-center">
          <img src={icoFutbol2.src} alt="ico-futbol" class="size-6" />
          <p class="text-[#add8e6]">
            {i18n.CATEGORIES.CARD.CARD_3.SUB_TITLE_2}
          </p>
        </div>
      </div>

      <hr class="text-[#1e3a8a] mb-4" />

      <div class="flex items-center gap-4">
        <img
          src={futbolImgMini.src}
          alt="ryu"
          class="rounded-full w-[33px] h-[33px] border border-white"
        />

        <p class="text-[#add8e6] flex gap-2">
          {i18n.CATEGORIES.CARD.MORE_INFO_ALL}
          <a
            href="#"
            class="text-white cursor-pointer hover:text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]"
          >
            <LogoButton />
          </a>
        </p>
      </div>
    </div>

    <!-- Card 4 - Especiales / Extras -->

    <div class="w-[327px] bg-blue-950 rounded-[15px] p-6">
      <!-- contenedor fantasma -->
      <div class="relative mb-6 group">
        <img src={cosplayImg.src} alt="juegos de lucha" class="rounded-lg" />

        <div
          class="bg-[#00ffff]/50 absolute top-0 w-full h-full place-content-center rounded-lg hidden group-hover:grid cursor-pointer"
        >
          <img src={fantasmaIco.src} alt="versus-ico" class="size-10" />
        </div>
      </div>
      <!-- fin contenedor fantasma -->

      <h2
        class="font-semibold text-[1.22em] mb-3 hover:text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]"
      >
        {i18n.CATEGORIES.CARD.CARD_4.TITLE}
      </h2>

      <p class="text-[#add8e6] mb-4 text-base">
        {i18n.CATEGORIES.CARD.CARD_4.DESCRIPTION}
      </p>

      <div class="flex place-content-between mb-4">
        <div class="flex gap-1.5 items-center">
          <img src={icoCosplay1.src} alt="ico-cosplay1" class="size-5" />
          <p class="text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]">
            {i18n.CATEGORIES.CARD.CARD_4.SUB_TITLE_1}
          </p>
        </div>

        <div class="flex gap-1.5 items-center">
          <img src={icoCosplay2.src} alt="ico-cosplay2" class="size-5" />
          <p class="text-[#add8e6]">
            {i18n.CATEGORIES.CARD.CARD_4.SUB_TITLE_2}
          </p>
        </div>
      </div>

      <hr class="text-[#1e3a8a] mb-4" />

      <div class="flex items-center gap-4">
        <img
          src={cosplayImgMini.src}
          alt="ryu"
          class="rounded-full w-[33px] h-[33px] border border-white"
        />

        <p class="text-[#add8e6] flex gap-2">
          {i18n.CATEGORIES.CARD.MORE_INFO_ALL}
          <a
            href="#"
            class="text-white cursor-pointer hover:text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]"
          >
            <LogoButton />
          </a>
        </p>
      </div>
    </div>

    <!-- Card 5 - Competitivos Generales -->

    <div class="w-[327px] bg-blue-950 rounded-[15px] p-6">
      <!-- contenedor fantasma -->
      <div class="relative mb-6 group">
        <img
          src={competitivosImg.src}
          alt="juegos de lucha"
          class="rounded-lg"
        />

        <div
          class="bg-[#00ffff]/50 absolute top-0 w-full h-full place-content-center rounded-lg hidden group-hover:grid cursor-pointer"
        >
          <img src={fantasmaIco.src} alt="versus-ico" class="size-10" />
        </div>
      </div>
      <!-- fin contenedor fantasma -->

      <h2
        class="font-semibold text-[1.22em] mb-3 hover:text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]"
      >
        {i18n.CATEGORIES.CARD.CARD_5.TITLE}
      </h2>

      <p class="text-[#add8e6] mb-4 text-base">
        {i18n.CATEGORIES.CARD.CARD_5.DESCRIPTION}
      </p>

      <div class="flex place-content-between mb-4">
        <div class="flex gap-1.5 items-center">
          <img
            src={icoCompetitivos1.src}
            alt="ico-competitivos1"
            class="size-5"
          />
          <p class="text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]">
            {i18n.CATEGORIES.CARD.CARD_5.SUB_TITLE_1}
          </p>
        </div>

        <div class="flex gap-1.5 items-center">
          <img
            src={icoCompetitivos2.src}
            alt="ico-competitivos2"
            class="size-6"
          />
          <p class="text-[#add8e6]">
            {i18n.CATEGORIES.CARD.CARD_5.SUB_TITLE_2}
          </p>
        </div>
      </div>

      <hr class="text-[#1e3a8a] mb-4" />

      <div class="flex items-center gap-4">
        <img
          src={competitivosImgMini.src}
          alt="ryu"
          class="rounded-full w-[33px] h-[33px] border border-white"
        />

        <p class="text-[#add8e6] flex gap-2">
          {i18n.CATEGORIES.CARD.MORE_INFO_ALL}
          <a
            href="#"
            class="text-white cursor-pointer hover:text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]"
          >
            <LogoButton />
          </a>
        </p>
      </div>
    </div>

    <!-- Card 6 - Divertidas / Humorísticas  -->

    <div class="w-[327px] bg-blue-950 rounded-[15px] p-6">
      <!-- contenedor fantasma -->
      <div class="relative mb-6 group">
        <img src={divertidasImg.src} alt="juegos de lucha" class="rounded-lg" />

        <div
          class="bg-[#00ffff]/50 absolute top-0 w-full h-full place-content-center rounded-lg hidden group-hover:grid cursor-pointer"
        >
          <img src={fantasmaIco.src} alt="versus-ico" class="size-10" />
        </div>
      </div>
      <!-- fin contenedor fantasma -->

      <h2
        class="font-semibold text-[1.22em] mb-3 hover:text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]"
      >
        {i18n.CATEGORIES.CARD.CARD_6.TITLE}
      </h2>

      <p class="text-[#add8e6] mb-4 text-base">
        {i18n.CATEGORIES.CARD.CARD_6.DESCRIPTION}
      </p>

      <div class="flex place-content-between mb-4">
        <div class="flex gap-1.5 items-center">
          <img src={icoDivertidas1.src} alt="ico-humor1" class="size-5" />
          <p class="text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]">
            {i18n.CATEGORIES.CARD.CARD_6.SUB_TITLE_1}
          </p>
        </div>

        <div class="flex gap-1.5 items-center">
          <img src={icoDivertidas2.src} alt="ico-humor2" class="size-5" />
          <p class="text-[#add8e6]">
            {i18n.CATEGORIES.CARD.CARD_6.SUB_TITLE_2}
          </p>
        </div>
      </div>

      <hr class="text-[#1e3a8a] mb-4" />

      <div class="flex items-center gap-4">
        <img
          src={divertidasImgMini.src}
          alt="ryu"
          class="rounded-full w-[33px] h-[33px] border border-white"
        />

        <p class="text-[#add8e6] flex gap-2">
          {i18n.CATEGORIES.CARD.MORE_INFO_ALL}
          <a
            href="#"
            class="text-white cursor-pointer hover:text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]"
          >
            <LogoButton />
          </a>
        </p>
      </div>
    </div>

    <!-- Card 7 - Visuales / Ambientación -->

    <div class="w-[327px] bg-blue-950 rounded-[15px] p-6">
      <!-- contenedor fantasma -->
      <div class="relative mb-6 group">
        <img
          src={visualesImg.src}
          alt="visuales y ambientación"
          class="rounded-lg"
        />

        <div
          class="bg-[#00ffff]/50 absolute top-0 w-full h-full place-content-center rounded-lg hidden group-hover:grid cursor-pointer"
        >
          <img src={fantasmaIco.src} alt="versus-ico" class="size-10" />
        </div>
      </div>
      <!-- fin contenedor fantasma -->

      <h2
        class="font-semibold text-[1.22em] mb-3 hover:text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]"
      >
        {i18n.CATEGORIES.CARD.CARD_7.TITLE}
      </h2>

      <p class="text-[#add8e6] mb-4 text-base">
        {i18n.CATEGORIES.CARD.CARD_7.DESCRIPTION}
      </p>

      <div class="flex place-content-between mb-4">
        <div class="flex gap-1.5 items-center">
          <img src={icoVisuales1.src} alt="ico-visual1" class="size-5" />
          <p class="text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]">
            {i18n.CATEGORIES.CARD.CARD_7.SUB_TITLE_1}
          </p>
        </div>

        <div class="flex gap-1.5 items-center">
          <img src={icoVisuales2.src} alt="ico-visual2" class="size-5" />
          <p class="text-[#add8e6]">
            {i18n.CATEGORIES.CARD.CARD_7.SUB_TITLE_2}
          </p>
        </div>
      </div>

      <hr class="text-[#1e3a8a] mb-4" />

      <div class="flex items-center gap-4">
        <img
          src={visualesImgMini.src}
          alt="ryu"
          class="rounded-full w-[33px] h-[33px] border border-white"
        />

        <p class="text-[#add8e6] flex gap-2">
          {i18n.CATEGORIES.CARD.MORE_INFO_ALL}
          <a
            href="#"
            class="text-white cursor-pointer hover:text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]"
          >
            <LogoButton />
          </a>
        </p>
      </div>
    </div>

    <!-- Card 8 - Temáticos / Dinámicos  -->

    <div class="w-[327px] bg-blue-950 rounded-[15px] p-6">
      <!-- contenedor fantasma -->
      <div class="relative mb-6 group">
        <img src={tematicosImg.src} alt="tematicos" class="rounded-lg" />

        <div
          class="bg-[#00ffff]/50 absolute top-0 w-full h-full place-content-center rounded-lg hidden group-hover:grid cursor-pointer"
        >
          <img src={fantasmaIco.src} alt="versus-ico" class="size-10" />
        </div>
      </div>
      <!-- fin contenedor fantasma -->

      <h2
        class="font-semibold text-[1.22em] mb-3 hover:text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]"
      >
        {i18n.CATEGORIES.CARD.CARD_8.TITLE}
      </h2>

      <p class="text-[#add8e6] mb-4 text-base">
        {i18n.CATEGORIES.CARD.CARD_8.DESCRIPTION}
      </p>

      <div class="flex place-content-between mb-4">
        <div class="flex gap-1.5 items-center">
          <img src={icoTematicos1.src} alt="ico-tematicos" class="size-5" />
          <p class="text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]">
            {i18n.CATEGORIES.CARD.CARD_8.SUB_TITLE_1}
          </p>
        </div>

        <div class="flex gap-1.5 items-center">
          <img src={icoTematicos2.src} alt="ico-tematicos" class="size-5" />
          <p class="text-[#add8e6]">
            {i18n.CATEGORIES.CARD.CARD_8.SUB_TITLE_2}
          </p>
        </div>
      </div>

      <hr class="text-[#1e3a8a] mb-4" />

      <div class="flex items-center gap-4">
        <img
          src={tematicosImgMini.src}
          alt="tematicos"
          class="rounded-full w-[33px] h-[33px] border border-white"
        />

        <p class="text-[#add8e6] flex gap-2">
          {i18n.CATEGORIES.CARD.MORE_INFO_ALL}
          <a
            href="#"
            class="text-white cursor-pointer hover:text-[#00ffff] drop-shadow-[0_0_5px_#00ffff]"
          >
            <LogoButton />
          </a>
        </p>
      </div>
    </div>
  </div>
</section>
