---
// Importamos la traducción de los idiomas
import { getI18n } from "@/i18n/";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
---

<section class="flex flex-col items-center gap-4 py-2">
  <p class="text-gray-100 text-center">
    {i18n.MAP.LIST.TITLE}
  </p>
  <dl class="max-w-md text-white divide-y divide-gray-200 py-8">
    <div class="flex flex-col pb-3">
      <dt class="mb-1 text-gray-400 md:text-lg">{i18n.MAP.LIST.LIST_1}</dt>
      <dd class="text-lg font-semibold">{i18n.MAP.LIST.LIST_2}</dd>
    </div>
    <div class="flex flex-col py-3">
      <dt class="mb-1 text-gray-400 md:text-lg">{i18n.MAP.LIST.LIST_3}</dt>
      <dd class="text-lg font-semibold">{i18n.MAP.LIST.LIST_4}</dd>
    </div>
    <div class="flex flex-col pt-3">
      <dt class="mb-1 text-gray-400 md:text-lg">{i18n.MAP.LIST.LIST_5}</dt>
      <dd class="text-lg font-semibold">{i18n.MAP.LIST.LIST_6}</dd>
    </div>
    <div class="flex flex-col pt-3">
      <dt class="mb-1 text-gray-400 md:text-lg">{i18n.MAP.LIST.LIST_7}</dt>
      <dd class="text-lg font-semibold">{i18n.MAP.LIST.LIST_8}</dd>
    </div>
  </dl>
</section>
