---
// Importamos la traducción de los idiomas
import { getI18n } from "@/i18n/";

const { currentLocale } = Astro;
const i18n = getI18n({ currentLocale });
const currentLang = Astro.currentLocale || "";

import { Image } from "astro:assets";
import Logo from "@/assets/images/somos-ica-cup.webp";

// Components
import Navbar from "./Navbar.astro";

import { Icon } from "astro-icon/components";

interface Props {
  isHomePage?: boolean;
  title?: string;
  bgClass?: string;
  navIds?: {
    navId?: string;
    menuId?: string;
  };
  blurColor?: string;
}

const {
  isHomePage = true,
  title,
  bgClass = "bg-[#961aa7]",
  navIds = { navId: "header-nav", menuId: "navbar-default" },
  blurColor = "rgba(150, 26, 167, 0.3)", // Default blur color
} = Astro.props;
---

<nav
  id={navIds.navId}
  class={`sticky top-0 z-50 border-gray-200 ${bgClass} header-animate`}
  style={`--blur-color: ${blurColor};`}
>
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a
      href={isHomePage ? `/${currentLang}/` : "#"}
      onclick={!isHomePage ? "location.reload(); return false;" : undefined}
      class="flex items-center space-x-3 rtl:space-x-reverse"
    >
      <Image src={Logo} class="h-12 w-auto rounded-full" alt="INCA CUP 2026" />
      <span
        class="self-center text-2xl font-bold whitespace-nowrap text-white hover:text-[#ff0]"
      >
        {
          isHomePage ? (
            <strong>{i18n.HEADER.LOGO_1}</strong>
          ) : (
            <strong class="text-[#ff0] hover:underline text-shadow-rosa hover:bg-black/30">
              {title}
            </strong>
          )
        }
      </span>
    </a>

    {/* Mobile Menu Button */}
    <button
      data-collapse-toggle={navIds.menuId}
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
      aria-controls={navIds.menuId}
      aria-expanded="false"
    >
      <span class="sr-only">Open main menu</span>
      <Icon name="flowbite:bars-outline" class="w-5 h-5 text-gray-200 border border-gray-200 rounded-lg" />
    </button>

    <Navbar isHomePage={isHomePage} navIds={navIds} />
  </div>
</nav>

<style>
  .header-animate {
    animation: blur linear both;
    animation-timeline: scroll();
    animation-range: 0 500px;
  }

  @keyframes blur {
    to {
      box-shadow:
        0px 5px 50px -5px rgba(0, 0, 0, 0.1),
        0px 0px 0 1px rgba(0, 0, 0, 0.3);
      background: var(--blur-color);
      backdrop-filter: blur(10px);
    }
  }
</style>
