---
// Tailwind
import "../styles/global.css";

// Interface de Astro
interface Props {
  title?: string;
  icons?: string;
  description?: string;
  // Header Props
  isHomePage?: boolean;
  headerTitle?: string;
  headerBgClass?: string;
  navIds?: {
    navId?: string;
    menuId?: string;
  };
  blurColor?: string;
  // Body Props
  bodyClass?: string;
}

// Creamos una constante que recibe las props
const {
  title,
  description,
  icons,
  isHomePage,
  headerTitle,
  headerBgClass,
  navIds,
  blurColor,
  bodyClass = "font-onest",
} = Astro.props;

//  Componente
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import SEO from "../components/SEO.astro";

// Idioma
const currentLang = Astro.currentLocale || "es";

// View Transitions
import { ClientRouter } from "astro:transitions";
---

<!doctype html>
<html lang={currentLang}>
  <head>
    <SEO
      title={title || "Inca Cup 2026"}
      description={description ||
        " Evento Gamers, Inca Cup 2026. La mejor experiencia para gamers"}
      icons={icons}
    />
    <ClientRouter />

    <!-- Scripts para Flowbite -->
    <script src="../scripts/main.js"></script>
  </head>
  <body class={bodyClass}>
    <Header
      isHomePage={isHomePage}
      title={headerTitle}
      bgClass={headerBgClass}
      navIds={navIds}
      blurColor={blurColor}
    />
    <slot />
    <Footer />
  </body>
</html>

<style is:global>
  html {
    box-sizing: border-box;
    font-family: "Onest Variable", sans-serif;
    background: radial-gradient(125% 125% at 50% 10%, #000 40%, #63e 100%);

    /* Desplazamiento del scroll para la animación, lentamente*/
    scroll-behavior: smooth;
  }
</style>
